<?xml version="1.0"?>
<config>
    <modules>
        <Magify_MstCore>
            <version>1.0.5</version>
        </Magify_MstCore>
    </modules>
    <global>
        <blocks>
            <mstcore>
                <class>Magify_MstCore_Block</class>
            </mstcore>
        </blocks>
        <models>
            <mstcore>
                <class>Magify_MstCore_Model</class>
            </mstcore>
        </models>
        <helpers>
            <mstcore>
                <class>Magify_MstCore_Helper</class>
            </mstcore>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mstcore module="Magify_MstCore">
                    <file>mstcore.xml</file>
                </mstcore>
            </updates>
        </layout>
       <translate>
            <modules>
                <Magify_MstCore>
                    <files>
                        <default>Magify_MstCore.csv</default>
                    </files>
                </Magify_MstCore>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mstcore_store>
                                            <title>Magify Extensions Store</title>
                                        </mstcore_store>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mstcore_extension>
                        <type>singleton</type>
                        <class>mstcore/feed_updates</class>
                        <method>check</method>
                    </mstcore_extension>
                    <mstcore_extension2>
                        <type>singleton</type>
                        <class>mstcore/notification</class>
                        <method>check</method>
                    </mstcore_extension2>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <frontend>
       <translate>
            <modules>
                <Magify_MstCore>
                    <files>
                        <default>Magify_MstCore.csv</default>
                    </files>
                </Magify_MstCore>
            </modules>
        </translate>
    </frontend>
</config>
