<!--@subject {{var store.getFrontendName()}}: New Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getBillingAddress().getName()":"Guest Customer Name",
"var store.getFrontendName()":"Store Name",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#FFFFFF; font-family:Arial, Tahoma, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#FFFFFF; font-family:Arial, Tahoma, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<center>
<table width="750" border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td colspan="2">
            	<!-- [ Begin Header ] -->
				<table width="750 "border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
							<td height="50" width="388"></td>
							<td><!-- <a href="http://www.icuracao.com/?___store=espn&___from_store=default&SID=9m5a8gdm7u10cvpo9nlne670h5" target="_blank"><img src="images/spanish.png" height="78" width="101" border="0" alt="Spanish"/></a> --></td>
						</tr>
					</tbody>
				</table>
                <!-- [ End Header ] -->
                <!-- [ Begin Navigation ] -->
                <table width="750 "border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td background="http://www.icuracao.com/DataFeed/marketing_images/email/navbar.png" style="padding: 8px 15px 3px 20px;">
								<table width="100% "border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td align="left" width="500">
                                                <span style="font-family: Arial, sans-serif; font-size: 14px; color: #444444; font-weight: bold;">{{var store.getFrontendName()}}: Nueva Orden # {{var order.increment_id}}</span>
                                                </td>
											<td align="right">
												<a href="https://www.facebook.com/CuracaoUSA" target="_blank"><img src="http://www.icuracao.com/DataFeed/marketing_images/email/icn_fb.png" height="32" width="32" border="0" alt="Facebook"/></a>
												<a href="https://twitter.com/lacuracao" target="_blank"><img src="http://www.icuracao.com/DataFeed/marketing_images/email/icn_twitter.png" height="32" width="32" border="0" alt="Twitter"/></a>
												<a href="https://plus.google.com/107858241391949634093/posts" target="_blank"><img src="http://www.icuracao.com/DataFeed/marketing_images/email/icn_google.png" height="32" width="32" border="0" alt="Google+"/></a>
												<!-- <a href="http://www.lacuracao.com/contactus.php?&language=en&utm_source=email%2Bblast&utm_medium=email&utm_content=Contact%2BUs&utm_campaign=Rebranding" target="_blank"><img src="images/icn_call.png" height="32" width="32" border="0" alt="Contact US"/></a> -->
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
                <!-- [ End Navigation ] -->     
			</td>
		</tr>
        <tr>
			<td colspan="2">&nbsp;</td>
		</tr>
        <!-- [ Begin Message Body ] --> 
		<tr>
			<td colspan="2" style="font-family: Arial, sans-serif; font-size: 12px; padding: 20px 20px 0 20px; border-top: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC;">
				<h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Hola, {{htmlescape var=$order.getBillingAddress().getName()}}</h1>
				<p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">
					Gracias por su orden en {{var store.getFrontendName()}}.
					Once your package ships we will send an email with a link to track your order.
					Si tiene alguna consulta en relación a su orden, por favor comuníquese con nostros por correo electrónico a <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> ó por teléfono al <span class="nobr">{{config path='general/store_information/phone'}}</span> Lunes - Viernes, 9am - 6pm (Hora del Pacífico).
				</p>
				<p style="font-size:12px; line-height:16px; margin:0;">La confirmación de su orden se detalla a continuación. Gracias nuevamente por comprar con nosotros.</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="font-family: Arial, sans-serif; font-size: 12px; padding: 20px 20px 0 20px; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC;">
				<h2 style="font-size:18px; font-weight:normal; margin:0;">Orden #{{var order.increment_id}} <small>(fecha {{var order.getCreatedAtFormated('long')}})</small></h2>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="font-family: Arial, sans-serif; font-size: 12px; padding: 20px 20px 0 20px; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC;">
				<table cellspacing="0" cellpadding="0" border="0" width="650">
					<thead>
					<tr>
						<th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Información de Facturación:</th>
						<th width="10"></th>
						<th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Método de Pago:</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
							{{var order.getBillingAddress().format('html')}}
						</td>
						<td>&nbsp;</td>
						<td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
							{{var payment_html}}
						</td>
					</tr>
					</tbody>
				</table>
				<br/>
				{{depend order.getIsNotVirtual()}}
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
					<thead>
					<tr>
						<th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Dirección de Envío:</th>
						<th width="10"></th>
						<th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Metodo de Envío:</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
							{{var order.getShippingAddress().format('html')}}
							&nbsp;
						</td>
						<td>&nbsp;</td>
						<td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
							{{var order.getShippingDescription()}}
							&nbsp;
						</td>
					</tr>
					</tbody>
				</table>
				<br/>
				{{/depend}}
				{{layout handle="sales_email_order_items" order=$order}}
				<p style="font-size:12px; margin:0 10px 10px 0;">{{var order.getEmailCustomerNote()}}</p>
				<p style="font-size:12px; margin:0;">Gracias,</p>
				<p><strong>{{var store.getFrontendName()}}</strong></p>
            </td>
		</tr>
        <!-- [ End Message Body ] -->
		<tr>
			<td colspan="2" style="border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC;">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2" style="background-color: #CCCCCC;">&nbsp;</td>
		</tr>
	</tbody>	
</table>
</center>                              
</div>
</body>