<?xml version="1.0"?>
<config>
  <modules>
    <Magify_Base>
      <version>1.0.3</version>
    </Magify_Base>
  </modules>
  
	<global>
		<blocks>
		  <mbase>
			<class>Magify_Base_Block</class>
		  </mbase>
		</blocks>
		<resources>
		  <mbase_setup>
			  <setup>
				  <module>Magify_Base</module>
			  </setup>
			  <connection>
				  <use>core_setup</use>
			  </connection>
		  </mbase_setup>
		  <mbase_write>
			  <connection>
				  <use>core_write</use>
			  </connection>
		  </mbase_write>
		  <mbase_read>
			  <connection>
				  <use>core_read</use>
			  </connection>
		  </mbase_read>
		</resources>
		<models>
			<mbase>
				<class>Magify_Base_Model</class>
			</mbase>
		</models>
	  <helpers>
		  <mbase>
			  <class>Magify_Base_Helper</class>
		  </mbase>
	  </helpers>
	</global>
	
	<adminhtml>
		<acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <mbase>
                                        <title>Magify - Extensions Information</title>
                                    </mbase>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
    <events>
        <controller_action_predispatch>
            <observers>
                <mbase_upds>
                    <type>singleton</type>
                    <class>mbase/feed</class>
                    <method>check</method>
                </mbase_upds>
            </observers>
        </controller_action_predispatch>
    </events> 
	</adminhtml>
	<default>
		<mbase>
			<feed>
				<check_frequency>86400</check_frequency>
				<interests>INFO,PROMO,UPDATE_RELEASE,NEW_RELEASE,INSTALLED_UPDATE</interests>
			</feed>
		</mbase>
	</default>			
</config>