<?xml version="1.0"?>
<config>
    <modules>
        <Magify_MCore>
            <version>1.0.3</version>
        </Magify_MCore>
    </modules>
    <global>
        <blocks>
            <mcore>
                <class>Magify_MCore_Block</class>
            </mcore>
        </blocks>
        <models>
            <mcore>
                <class>Magify_MCore_Model</class>
            </mcore>
        </models>
        <helpers>
            <mcore>
                <class>Magify_MCore_Helper</class>
            </mcore>
        </helpers>
    </global>
    <adminhtml>  
       <translate>
            <modules>
                <Magify_MCore>
                    <files>
                        <default>Magify_MCore.csv</default>
                    </files>
                </Magify_MCore>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>                            
            </resources>
        </acl>
    </adminhtml>        
    <frontend>
       <translate>
            <modules>
                <Magify_MCore>
                    <files>
                        <default>Magify_MCore.csv</default>
                    </files>
                </Magify_MCore>
            </modules>
        </translate>
    </frontend>
</config>
