<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <searchindex translate="label" module="searchindex">
            <label>Search Index</label>
            <tab>mstcore</tab>
            <frontend_type>text</frontend_type>
            <sort_order>390</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <catalog>
                    <label>Catalog Product Index</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>10</sort_order>
                    <fields>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <attribute translate="label">
                            <label>Attributes</label>
                            <frontend_model>searchindex/adminhtml_system_attribute_catalog</frontend_model>
                            <backend_model>searchindex/system_config_backend_attribute</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>After adding or deleting attribute go to System/Index Management and run reindex of 'Search Index'</comment>
                        </attribute>
                        <category_name translate="label">
                            <label>Include category names path to product search index</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </category_name>
                        <bundled translate="label">
                            <label>Include bundled items search index to bundled products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </bundled>
                    </fields>
                </catalog>
                <cms>
                    <label>Cms Page Index</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>20</sort_order>
                    <fields>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <attribute translate="label">
                            <label>Attributes</label>
                            <frontend_model>searchindex/adminhtml_system_attribute_cms</frontend_model>
                            <backend_model>searchindex/system_config_backend_attribute</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>After adding or deleting attribute go to System/Index Management and run reindex of 'Search Index'</comment>
                        </attribute>
                    </fields>
                </cms>
                <awblog>
                    <label>AW Blog Index</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>30</sort_order>
                    <if_module_enabled>AW_Blog</if_module_enabled>
                    <fields>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <attribute translate="label">
                            <label>Attributes</label>
                            <frontend_model>searchindex/adminhtml_system_attribute_awblog</frontend_model>
                            <backend_model>searchindex/system_config_backend_attribute</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>After adding or deleting attribute go to System/Index Management and run reindex of 'Search Index'</comment>
                        </attribute>
                    </fields>
                </awblog>
                <maction>
                    <label>Magify Promotional Offers</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>40</sort_order>
                    <if_module_enabled>M_Action</if_module_enabled>
                    <fields>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <attribute translate="label">
                            <label>Attributes</label>
                            <frontend_model>searchindex/adminhtml_system_attribute_maction</frontend_model>
                            <backend_model>searchindex/system_config_backend_attribute</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>After adding or deleting attribute go to System/Index Management and run reindex of 'Search Index'</comment>
                        </attribute>
                    </fields>
                </maction>
            </groups>
        </searchindex>
    </sections>
</config>