<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magify_Misspell>
            <version>1.2.2</version>
        </Magify_Misspell>
    </modules>
    <global>
        <models>
            <misspell>
                <class>Magify_Misspell_Model</class>
                <resourceModel>misspell_resource</resourceModel>
            </misspell>
            <misspell_resource>
                <class>Magify_Misspell_Model_Resource</class>
                <entities>
                    <misspell>
                        <table>m_misspell</table>
                    </misspell>
                    <misspell_suggest>
                        <table>m_misspell_suggest</table>
                    </misspell_suggest>
                </entities>
            </misspell_resource>
        </models>
        <blocks>
            <misspell>
                <class>Magify_Misspell_Block</class>
            </misspell>
        </blocks>
        <helpers>
            <misspell>
                <class>Magify_Misspell_Helper</class>
            </misspell>
            <catalogsearch>
                <rewrite>
                    <data>Magify_Misspell_Helper_Data</data>
                </rewrite>
            </catalogsearch>
        </helpers>
        <resources>
            <misspell_setup>
                <setup>
                    <module>Magify_Misspell</module>
                </setup>
            </misspell_setup>
        </resources>
        <events>
            <catalogsearch_index_process_complete>
                <observers>
                    <misspell_index_complete>
                        <class>misspell/observer</class>
                        <method>onIndexComplete</method>
                    </misspell_index_complete>
                </observers>
            </catalogsearch_index_process_complete>
            <catalogsearch_index_process_start>
                <observers>
                    <misspell_index_start>
                        <class>misspell/observer</class>
                        <method>onIndexStart</method>
                    </misspell_index_start>
                </observers>
            </catalogsearch_index_process_start>
            <searchautocomplete_prepare_collection>
                <observers>
                    <misspell_prepare_collection>
                        <class>misspell/observer</class>
                        <method>onPrepareCollection</method>
                    </misspell_prepare_collection>
                </observers>
            </searchautocomplete_prepare_collection>
        </events>
    </global>
    <adminhtml>
        <acl>
            <all>
                <title>Allow Everything</title>
            </all>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <misspell translate="title" module="misspell">
                                            <title>Search Spell-Correction</title>
                                        </misspell>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Magify_Misspell>
                    <files>
                        <default>Magify_Misspell.csv</default>
                    </files>
                </Magify_Misspell>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <misspell>
                <use>admin</use>
                <args>
                    <module>Magify_Misspell</module>
                    <frontName>misspell</frontName>
                </args>
            </misspell>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <Magify_Misspell>
                    <files>
                        <default>Magify_Misspell.csv</default>
                    </files>
                </Magify_Misspell>
            </modules>
        </translate>
        <layout>
            <updates>
                <misspell>
                    <file>misspell.xml</file>
                </misspell>
            </updates>
        </layout>
    </frontend>
</config>