<?xml version="1.0"?>
<config>
  <modules>
    <Magify_Page>
      <version>0.1.0</version>
    </Magify_Page>
  </modules>
  <global>
    <page>
      <layouts>
        <homepage translate="label">
          <label>Home Page - 1 column</label>
          <template>page/homepage.phtml</template>
          <layout_handle>homepage</layout_handle>
        </homepage>

        <credit translate="label">
          <label>Credit Application - 2 column</label>
          <template>page/creditapplication.phtml</template>
          <layout_handle>credit</layout_handle>
        </credit>
		
	 <elcapo translate="label">
          <label>El Capo - 1 column</label>
          <template>page/elcapo.phtml</template>
          <layout_handle>elcapo</layout_handle>
        </elcapo>

	<equipo translate="label">
          <label>equipo - 1 column</label>
          <template>page/equipo.phtml</template>
          <layout_handle>equipo</layout_handle>
        </equipo>
	
	<preapprove translate="label">
          <label>Pre-Approved Credit Page</label>
          <template>page/preapprove.phtml</template>
          <layout_handle>preapprove</layout_handle>
        </preapprove>
	<newcustomerpromo translate="label">
          <label>New Customer Promo</label>
          <template>page/newcustomerpromo.phtml</template>
          <layout_handle>newcustomerpromo</layout_handle>
     </newcustomerpromo>
	 <customerpromo translate="label">
          <label>$25 Off</label>
          <template>page/customerpromo.phtml</template>
          <layout_handle>customerpromo</layout_handle>
     </customerpromo>
	 <customerpromotion translate="label">
          <label>$100 Off $299 purchase</label>
          <template>page/customerpromopromotion.phtml</template>
          <layout_handle>customerpromopromotion</layout_handle>
     </customerpromotion>
	
	        
	<!-- add more layouts here -->
        
      </layouts>
    </page>
  </global>
<frontend>
	  <events>
		  <controller_action_predispatch>
			  <observers>
				  <creditcache>
					  <class>Magify_Page_Model_Observer</class>
					  <method>processPreDispatch</method>
				  </creditcache>
			  </observers>
		  </controller_action_predispatch>
	  </events>
  </frontend>
</config>