/* CSS Finance */

/********** CSS Reset **********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************** GLOBAL STYLES ******************************/

body {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #878a8e;
}

.clear { clear: both; height: 0px; }
.clear10 { clear: both; height: 10px; }
.clear15 { clear: both; height: 15px; }
.clear20 { clear: both; height: 20px; }
.clear25 { clear: both; height: 25px; }

.left {
	float: left;
}

.right {
	float: right;
}

h1 {
	font-size: 28px;
	font-weight: bold;
	color: #444444;
	margin: 0 0 20px 0;
}

h2 {
	font-size: 24px;
}

h2.title {
	font-size: 24px;
	color: #0b8ece;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	color: #444444;
}

h3.tagline {
	font-size: 16px;
	font-weight: bold;
	color: #878a8e;
	margin-top: 5px;
	line-height: 20px;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	color: #878a8e;
	margin-top: 15px;
	margin-bottom: -10px;
}

.cgreen {
	color: #92c039;
}

.cred {
	color: #d5172f;
}

.corange {
	color: #f26722;
}

.cyellow {
	color: #ffc800;
}

p {
	font-size: 12px;
	line-height: 16px;
	margin: 15px 0 0 0;
}

strong {
	font-weight:bold;
}

a {
	text-decoration: none;
	color: #008ecf;
}

a.button, .button, button {
	font-family: Arial, Tahoma, sans-serif;
	color: #ffffff;
	font-weight: bold;
	line-height: 12px;
	text-align: center;
	background-color: #e5b400;
	background: -moz-linear-gradient(center bottom,#e5b400 0,#ffc800 100%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#e5b400),color-stop(100%,#ffc800));
	background: -webkit-linear-gradient(bottom,#e5b400 0,#ffc800 100%);
	background: -ms-linear-gradient(bottom,#e5b400 0,#ffc800 100%);
	background: -o-linear-gradient(bottom,#e5b400 0,#ffc800 100%);
	background: linear-gradient(bottom,#e5b400 0,#ffc800 100%);
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border-color: #ffcc11;
	border-style: solid;
	border-width: 1px;
	height: 30px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
}

button.smallPrim {
	border-color: #ffcc11;
	font-size: 11px;
	padding: 4px 12px 4px;
    height: 15px;
	text-shadow: 0 -1px #bbbbbb;
}

button.bigPrim {
	border-color: #ffcc11;
	font-size: 12px;
	padding: 5px 13px 4px;
    height: 20px;
	text-shadow: 0 -1px #bbbbbb;
}

button.smallSec {
	color: #1e1e1e;
	border-color: #b1b1b1;
	margin-left: 4px;
	font-size: 11px;
	padding: 4px 9px 4px;
    height: 15px;
	background-color: #e2e1e1;
	background: -moz-linear-gradient(center bottom,#c3c1c1 0,#e2e1e1 100%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#c3c1c1),color-stop(100%,#e2e1e1));
	background: -webkit-linear-gradient(bottom,#c3c1c1 0,#e2e1e1 100%);
	background: -ms-linear-gradient(bottom,#c3c1c1 0,#e2e1e1 100%);
	background: -o-linear-gradient(bottom,#c3c1c1 0,#e2e1e1 100%);
	background: linear-gradient(bottom,#c3c1c1 0,#e2e1e1 100%);
	text-shadow: 0 1px #ffffff;
}

ul {
	list-style-type: disc;
	margin: 10px;
	list-style: inside;
	line-height: 18px;
}

input[type=text], input[type=password], select, textarea {
	border: 1px solid #d7d7d7;
	color: #777777;
}

input[type=text] {
	padding: 2px 5px !important;
}

label {
	vertical-align: text-top;
}

em {
	color: #ff0000;
}

#breadcrumb {
	font-size: 11px;
	text-transform: uppercase;
	margin-top: 20px;
}

.divider {
	height: 0;
	border-bottom: 1px solid #d7d7d7;
	width: 100%;
	clear: both;
}

.required {
	font-size: 11px;
}

/****************************** FINANCE HEADER ******************************/

header {
	width: 100%;
	background-color: #ffffff;
}

.wrapper {
	width: 990px;
	margin: 0 auto;
}

#logo {
	float: left;
	text-decoration: none !important;
	width: 460px;
	height: 45px;
	margin-top: 25px;
}

#csHeader {
	float: right;
	width: 255px;
	height: 40px;
	background: url(images/btn-sprite.png) no-repeat -60px -270px;
	margin-top: 25px;
}

/********** Top Header **********/

#topHeader {
	height: 45px;
	background-color: #666666;
	width: 100%;
}

#topHeader ul {
	float: left;
	margin: 17px 0;
}

#topHeader ul li {
	display: inline;
	list-style-type: none;
	border-left: 1px solid #999999 !important;
	padding: 0 10px;
}
#topHeader ul li.first {
	border-left: none !important;
	padding-left: 0;
}
#topHeader ul li a {
	font-size: 11px;
	text-decoration: none;
	color: #ffffff;
}

/********** Header Login **********/

#login {
    float: right;
    text-align: right;
	margin-top: 10px;
}

#login .loginfield {
    font-size: 1em;
	padding-right: 3px;
	display: inline;
}

#login .loginfield input {
    -moz-box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #CFCFCF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15) inset;
    color: #b6b6b6;
    font-size: 11px;
    font-weight: normal;
    height: 24px;
    outline: 0 none;
    padding: 0 8px !important;
}

#loggedin {
	float: right;
	font-size: 11px;
	color: #ffffff;
	margin: 17px 0;
}

#loggedin span.limit {
	font-size: 12px;
	font-weight: bold;
}

#loggedin span.name {
	font-weight: bold;
}

#loggedin a, #loggedin a:hover {
	text-decoration: underline;
	color: #ffffff;
}

/********** Header Navigation **********/

nav.primary {
	background: url(images/nav_bg.png) repeat-x;
	height: 35px;
}

nav.primary ul {
	float: left;
	margin: 0;
	padding: 0;
}

nav.primary ul li {
	float: left;
	display: inline;
	height: 32px;
	position: relative;
	z-index: 1;
	list-style-type: none;
	line-height: 16px !important;
}

nav.primary ul li a {
	font-family: Arial, Tahoma, sans-serif;
	border-left: 1px solid #b7b8b8;
	color: #565657;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding: 11px 16px 8px 16px;
	text-decoration: none;
	text-shadow: 0 1px #ffffff;
}

nav.primary ul li a.last {
	border-right: 1px solid #b7b8b8;
}

nav.primary ul li a:hover {
	color: #f26722;
	text-shadow: none;
}

/****************************** FINANCE FOOTER ******************************/

/********** Affiliates **********/

#affiliates {
	margin-top: 25px;
	padding-top: 35px;
	background: url(images/affiliate_bg.png) repeat-x top;
	height: 70px;
	width: 100%;
}

#affiliates span {
	font-size: 14px;
	color: #777777;
	padding-left: 5px;
}

#affiliates ul {
	margin: 10px 0;
	padding: 0;
}

#affiliates ul li {
	display: inline;
	list-style-type: none;
	padding-right: 24px;
}

#affiliates ul li.last {
	padding-right: 0;
}

/********** Subfooter **********/

#subFooter {
	background: url(images/subfooter_bg.png) repeat-x top;
	height: 200px;
	width: 100%;
	box-shadow: inset 0px 10px 7px -10px #777, inset 0px -10px 8px -10px #777; 
	-moz-box-shadow: inset 0px 10px 7px -10px #777, inset 0px -10px 8px -10px #777;
	-webkit-box-shadow: inset 0px 10px 7px -10px #777, inset 0px -10px 8px -10px #777;
	font-size: 14px;
	color: #ffffff;
	line-height: 18px;
}

#ribbon {
	float: left;
	width: 60px;
	height: 200px;
	background: url(images/btn-sprite.png) no-repeat 0 -100px;
	box-shadow: inset 0px 10px 7px -10px #777, inset 0px -10px 8px -10px #777; 
	-moz-box-shadow: inset 0px 10px 7px -10px #777, inset 0px -10px 8px -10px #777;
	-webkit-box-shadow: inset 0px 10px 7px -10px #777, inset 0px -10px 8px -10px #777;
}

#cardBadge {
	float: left;
	width: 150px;
	height: 150px;
	background: url(images/btn-sprite.png) no-repeat -150px -100px;
	margin: 35px 0 0 30px;
}

#ccMessage {
	float: left;
	margin: 65px 0 0 15px;
	width: 130px;
}

#cardBadge {
	float: left;
	width: 150px;
	height: 150px;
	background: url(images/btn-sprite.png) no-repeat -150px -100px;
	margin: 35px 0 0 30px;
}

#csFooter {
	float: right;
	width: 180px;
	height: 40px;
	background: url(images/btn-sprite.png) no-repeat -60px -230px;
	margin-top: 25px;
}

#connect {
	text-align: right;
	padding: 110px 0 0 0;
}

#social {
	float: right;
	margin: 15px 10px 0 0;
}

#social ul {
	margin: 10px 0;
	padding: 0;
	display: inline;
}

#social ul li {
	display: inline;
	list-style-type: none;
	padding-right: 5px;
}
#social ul li.nopad {
	padding-right: 2px;
}

#news {
    float: right;
    text-align: right;
	margin-top: 10px;
}

#connect #news .newsfield {
    font-size: 1em;
	padding-right: 3px;
	display: inline;
}

#connect #news .newsfield input {
    -moz-box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #CFCFCF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15) inset;
    font-size: 12px;
    font-weight: normal;
    height: 30px;
	width: 270px;
    outline: 0 none;
    padding: 0 8px !important;
}
#news button.newsSignUp {
	width: 68px;
	height: 30px;
	background: url(images/btn-sprite.png) no-repeat -60px -170px;
	text-shadow: none;
	border: 0;
	vertical-align: top;
	margin-top: 1px;
}

/********** Footer Bottom Links **********/

footer {
	width: 100%;
	background-color: #ffffff;
}

footer .links {
	float: left;
	text-align: left;
	margin-right: 55px;
}

footer .titles {
	font-size: 11px;
	font-weight: bold;
}

footer .links ul {
	margin: 15px 0;
}

footer .links ul li {
	list-style:none;
	line-height: 20px;
}

footer .links ul li a {
	color: #878a8e;
	font-size: 11px;
	text-decoration: none;
	font-family: Arial, Tahoma, sans-serif;
}

footer .links ul li a:hover {
	text-decoration: underline;
}

.secureLogos {
	float: right;
	margin-left: 15px;
}

#copyright {
	float: left;
	font-size: 11px;
	text-align: left;
	text-transform: uppercase;
	margin-top: 2px;
}

#lang {
	float: right;	
}

#lang ul {
	float: left;
	margin: 0 !important;
}

#lang ul li {
	display: inline;
	list-style-type: none;
	border-left: 1px solid #dddddd !important;
	line-height: 11px;
	margin: 0;
	padding: 0 0 0 10px;
}
#lang ul li.first {
	border-left: none !important;
	padding-right: 5px;
}
#lang ul li a {
	font-size: 11px;
	text-decoration: none;
	color: #878a8e;
}

#lang ul li a img {
	display: inline;
	border: 0;
}


/****************************** HOMEPAGE ******************************/


/********** Login **********/
#homeLogin {
	width: 990px;
	height: 400px;
	background: url(images/login_bg.jpg) no-repeat;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 5px 7px -5px #000; 
	-moz-box-shadow: 0px 5px 7px -5px #000;
	-webkit-box-shadow: 0px 5px 7px -5px #000;
	border-top: 1px solid #d7d7d7;
	
}

#loginBackground {
	width: 260px;
	height: 220px;
	margin: 35px 40px;
	padding: 20px;
	background-color: #ffffff;
	opacity: 0.1;
	border: 1px solid #266492;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	
}

#loginBox {
	position: relative;
	margin: -277px 0 0 60px;
	color: #fff;
}

form.loginHome {
	margin: 5px 0 25px 0;
	width: 265px;
}

#loginBox span {
	font-size: 14px;
	font-weight: bold;
}

#loginBox label {
	padding-left: 2px;
}

#loginBox .loginfield {
    margin: 3px 0 0 0;
}

#loginBox .loginfield input {
    -moz-box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #CFCFCF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15) inset;
    font-weight: normal;
    height: 30px;
    outline: 0 none;
    padding: 0 8px !important;
	width: 200px;
	float: left;
}

#loginBox a.forgot, #loginBox a.forgot:hover {
	font-size: 11px;
	color: #ffffff;
	padding-left: 4px;
}

#loginBox a.help, #loginBox a.help:hover {
	float: left;
	margin: 7px 0 0 5px;
}

/********** Tout Features **********/
#homeTouts {
	width: 100%;	
}

.tout {
	float: left;
	text-align: left;
	width: 330px;
	/* border-left: 1px solid #d7d7d7; */
	background: url(images/btn-sprite.png) no-repeat -320px 0;
}

.t1 {
	/* border-left: none; */
	background: none;
}

.tout img {
	margin-left: 20px;
}

.tout p {
	margin: 10px 20px;
}

.tout a {
	font-weight: bold;
}


/****************************** CONTENT/INFO ******************************/
#content {
	width: 100%;
	margin: 0;
	padding: 0;
}

#menuItems {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
}

#menuItems ul {
	margin: 0;
	padding: 0;
}

#menuItems ul li {
	border-bottom: 1px solid #d7d7d7;
	padding: 10px 30px;
	list-style: none;
	font-size: 14px;
	color: #444444;
}

#menuItems ul li.active{
	background-color: #f1f1f1;
}

#menuItems ul li.first {
	border-top: 1px solid #d7d7d7;
}

#menuItems ul li a {
	font-size: 14px;
	text-decoration: none;
	color: #444444;
}

#menuItems ul li a:hover {
	color: #f26722;
}

#details {
	float: left;
	width: 660px;
	min-height: 500px;
	margin-left: 30px;
}

#details p {
	font-size: 14px;
	line-height: 24px;
	margin: 10px 0;
}

#details p.info {
	font-size: 12px;
	line-height: 16px;
	margin: 10px 0;
}

#details ul {
	margin: 10px 20px;
}

#details ul li {
	list-style: inside;
	list-style-type: disc;
	line-height: 18px;
}

#details table.bios td {
	padding-right: 20px;
	vertical-align: top;
}

#locationlist {
	width: 690px;
	float: left;
}

#locationlist ul {
	margin: 15px 0 0 0;;
	padding: 0;
}

#locationlist ul li {
	border-top: 1px solid #d7d7d7;
	padding: 9px 0;
	margin-bottom: 0 !important;
	list-style: none;
}

#locationlist ul li.last {
	border-bottom: 1px solid #d7d7d7;
}

#locationlist ul li:hover {
	background: url(http://www.icuracao.com/skin/frontend/enterprise/curacao-responsive/images/store-arrow.png) 98% 50% no-repeat;
}

#locationlist ul li a {
	color: #444444;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	padding: 10px 0 10px 20px;
	text-decoration: none;
}

#locationlist ul li a:hover, #locationlist ul li a:active {
	color: #f26722;
}

#locationlist ul li a span {
	font-weight: bold;
}

	
	



